##############################
## Folders                  ##
##############################
GoPath
 
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml